.container{

}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 27px;
    letter-spacing: 1.6px;
    word-spacing: 2px;
    color: #2EFFF2;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}


.controls-container {
    margin: 0 auto;
    padding-bottom: 40px;
    width: fit-content;
}

.controls-container label {
    display: block;
    margin-bottom: 10px;
    width: 245px;
}

.controls-container label input {
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 17px;
    border-radius: 8px;
    padding: 3px;
    text-align: center;

}

input[type="text"] {
    padding-block: 0px;
    padding-inline: 0px;
    width: 98% !important;
}

.controls-container label select {
    width: 245px;
    border-radius: 8px;

}

.btn_start{
    background-color: #2EFFF2;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}



.myTable {
    display: none;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #78cdabec;
}

.myTable td {
    border: 3px solid rgba(164, 164, 164, 0.858);
    width: 150px;
    height: 150px;
    cursor: pointer;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}





.selected {
    background-color: rgb(222, 186, 116);

}

.xFig {
    background-image: url('red.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
}

.oFig {
    background-image: url('red_0.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
}